.resume-upload-form{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    flex-wrap: wrap;
    .file-container{
        flex-grow: 1;
    }
    .email-container{
       flex-grow: 1;
       .email{
           border-top: 1px solid black;
           padding:1rem;
           margin :5rem 0rem;
       }
    }
    
   
    .err-message{
        color:red
    }
}